<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trackstatus_lend_device.css') }}">
    <title>Document</title>
</head>
{% extends 'base/base.html' %}
{% block title %}รายละเอียดการยืม{% endblock %}
{% block content %}
<body>
   

<div class="detail-container">
<a href="{{ url_for('tracking.track_index') }}?rent_id={{ rent.rent_id }}" class="btn-back">
  <i class="ri-arrow-left-line"></i> ย้อนกลับ
</a>
  {% if rent %}
    <h1>รายละเอียดการยืมอุปกรณ์</h1>
    <div class="card">
      {% if rent.image_path %}
        <img src="{{ url_for('static', filename=rent.image_path) }}" alt="{{ rent.equipment_name }}">
      {% endif %}

      <h2>{{ rent.equipment_name }} ({{ rent.equipment_code }})</h2>
      <div class="status">สถานะ: <span style="color: {{ rent.status_color }}">{{ rent.status_name }}</span></div>

    <div class="date-row">
    <p><strong>วันที่ยืม:</strong> {{ rent.start_date.strftime('%d %B %Y') }}</p>
    <p><strong>วันที่กำหนดคืน:</strong> {{ rent.due_date.strftime('%d %B %Y') }}</p>
    </div>


      <p><strong>ชื่อผู้ยืม:</strong> {{ rent.full_name }}</p>
      <p><strong>เบอร์โทร:</strong> {{ rent.phone_number }}</p>
    {% if rent.subject_name %}
    <p><strong>วิชา:</strong> {{ rent.subject_name }}</p>
    {% endif %}

    {% if rent.teacher_name %}
    <p><strong>อาจารย์ประจำวิชา:</strong> {{ rent.teacher_name }}</p>
    {% endif %}

      <p><strong>เหตุผลในการยืม:</strong> {{ rent.reason }}</p>
    </div>
<div class="button-group">
  <a href="#" class="btn blue">เพิ่มเวลา</a>
  <a href="#" class="btn green">แจ้งคืน</a>
  <a href="#" class="btn red">แจ้งเสียหาย</a>
</div>


  {% else %}
    <p>ไม่พบข้อมูลการยืมนี้</p>
  {% endif %}
</div>


</body>
{% endblock %}
</html>