{% extends 'base/base_admin.html' %}
{% block title %}หน้าหลักของแอดมิน{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home_admin.css') }}">

<div class="dashboard">
  <section class="dashboard__grid" aria-label="เมนูด่วน">

    <a class="card" href="{{ url_for('inventory.admin_equipment_list') }}">
      <img class="card__icon" src="{{ url_for('static', filename='/images/icons/device.png') }}" alt="">

      <div class="card__title">จัดการอุปกรณ์</div>
    </a>

    <a class="card" href="#">
      <img class="card__icon" src="{{ url_for('static', filename='/images/icons/history.png') }}" alt="">
      <div class="card__title">ประวัติยืม-คืน</div>
    </a>

    <a class="card" href="#">
      <img class="card__icon" src="{{ url_for('static', filename='/images/icons/exclamation-mark.png') }}" alt="">
      <div class="card__title">อุปกรณ์สูญหาย/ชำรุด</div>
    </a>

    <a class="card" href="#">
      <img class="card__icon" src="{{ url_for('static', filename='/images/icons/back.png') }}" alt="">
      <div class="card__title">คืนอุปกรณ์</div>
    </a>

    <a class="card" href="{{ url_for('admin_users.index') }}">
      <img class="card__icon" src="{{ url_for('static', filename='/images/icons/user.png') }}" alt="">
      <div class="card__title">จัดการสมาชิก</div>
    </a>

    <a class="card" href="#">
      <img class="card__icon" src="{{ url_for('static', filename='/images/icons/statistics.png') }}" alt="">
      <div class="card__title">รายงานสรุปประจำเดือน</div>
    </a>

  </section>
</div>
{% endblock %}
