<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
</head>
<body>
<div class="navbar">
  <div class="navbar_login">
    {% if current_user.is_authenticated %}
      <span class="user_identity">
        {{ current_user.identity }}
      </span>
      <a href="{{ url_for('auth.logout_action') }}">Logout</a>
      <i class="ri-user-line icon_user"></i>
    {% else %}
      <a href="{{ url_for('auth.login_page') }}">Login</a>
      <a>|</a>
      <a href="{{ url_for('auth.register_page') }}">Sign in</a>
      <i class="ri-user-line icon_user"></i>
    {% endif %}
  </div>
</div>
</body>
</html>