<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
</head>
<body>

<div class="navbar">

  <div class="navbar_menu">
    <a href="{{ url_for('pages.home') }}">Home</a>
    <a href="{{ url_for('inventory.lend_device') }}">Lend Device</a>
    <a href="{{ url_for('tracking.track_index') }}">Track Status</a>
    <a href="{{ url_for('pages.policy') }}">Policy</a>
    <a href="{{ url_for('pages.about_us') }}">About Us</a>
    <div class="navbar_light">
      <input class="Search_input" type="text" placeholder="Search...">
      <i class="ri-notification-4-line icon_bell"></i>
    </div>
  </div>

</div>

</body>
</html>