<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
</head>
<body>
<div class="navbar">
 <div class="navbar_login">
  {% if current_user.is_authenticated %}
    
  {% if session.get('role') in ['staff', 'admin'] %}
    {% if request.path.startswith('/admin') %}
      <a href="{{ url_for('pages.home') }}" class="btn-nav btn-admin">Home</a>
    {% else %}
      <a href="{{ url_for('admin.admin_home') }}" class="btn-nav btn-admin">Admin</a>
    {% endif %}
  {% endif %}

  <a href="{{ url_for('auth.logout_action') }}" class="btn-nav btn-logout">Logout</a>
  <span class="user_identity">{{ current_user.identity }}</span>
  <div class="icon_user">
  <a href=# class="ri-user-line"></a>
  </div>

{% else %}
<div class="navbar_login_text">
  <a href="{{ url_for('auth.login_page') }}">Login</a>
  <a>|</a>
  <a href="{{ url_for('auth.register_page') }}">Sign in</a>
</div>
{% endif %}

</div>
</div>
</body>
</html>
