<!doctype html>
<html lang="th">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Instructor Page{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  {% include 'base/_navbar_register.html' %}   {# แถบชมพู #}
  {% include 'base/_navbar_teacher.html' %}    {# แถบเขียว (อาจารย์) #}

  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>