<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Equipment Lending{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  </head>
  <body>
    {% include 'base/_navbar_register.html' %}
    {% include 'base/_navbar_menu.html' %}
    <main class="container" >
    {% block content %}{% endblock %}

    </main>
  </body>
</html>
