<!doctype html>
<html lang="th">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Equipment Lending{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <main class="blank-page">
      {% block content %}{% endblock %}
    </main>
    {% block scripts %}{% endblock %}
  </body>
</html>
